# Build files
bin/
build/
out/

# Gradle cache
.gradle*

# Netbeans files
.nb-gradle*
nbproject

# Eclipse files
.classpath
.project
.settings

# IntelliJ files
*.iml
.idea

# VS Code
.vscode

# Working directory of code examples
examples/working_dir/

# Results of *_android:applyPatches
android/*/src/main/