* text=auto

# Normalize text files to LF newlines
*.java          text
*.json          text
*.hocon         text
*.conf          text
*.toml          text
*.yaml          text
*.yml           text
*.properties    text

# Batch files
*.bat           -text

# Binary files
*.class         binary
*.jar           binary
*.png           binary

# Exclude toml-test submodule from Github language statistics.
# See https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
test-multiple/src/test/resources/toml-test/* linguist-vendored
