string = "value"
integer = 2
long = 1234567890000
double = 1.2345678901
infinity = inf
m_inf = -inf
p_inf = +inf
nan = nan
m_nan = -nan
p_nan = +nan
enum = "A"
spaces = 10_000_999.01_02_03 # this is valid!
bool_array = [true, false, true, false,] # comment
array_with_spaces = [ 8001, 8001, 8002 ]
inline_table = { id = 1, data = 0}
int_array = [0, 2]
nested_arrays = [ [1], [true, false], ['a', "b"]]
multilineArray = [
    "string",
    #comment
    'string',
    '''multiline
    string''',
    """multiline
    string"""
]
mixed_array = [0, 1.0]
mixed_array2 = ["a", ["b"]]
mixed_array3 = [true, 0x1, "c"]
mixed_array_with_inline_tables = [{"a" = true}, "b", {"c" = 42}, "d"]

basicMultiline = """
First line
\tSecond line_\


       Still second line"""
literalMultiline= '''
First line
Second line'''

without_comment = 'This value has no comment'
# CommentA
with_comments = 'This value has two comments' # CommentB

dotted.key = 12
# INVALID: dotted.key.sublevel = 13
dotted.sub.subsub.key = { a = "b", c = "d", d = 12, e = 3.14, f = true }# more comments
dotted.more_data = 'some string' # comments here!

# Numbers in different bases
hexa = 0xabcdef
hexa2 = 0x01234
octal = 0o777
binary = 0b101011

# Comment above a table
[table] # comment next to a table
    'key' = '"literal string"\n\t'
[table.subTable.subDefinedFirst]
    test = 'this is valid TOML'
[table.subTable]
    "subkey"=2017-02-25T12:00:01.123456789
    "subkey with space"=2017-02-25 12:00:01.123456789 # since TOML v0.5.0
    date=2017-04-04
    time=16:41:20
    preciseTime=16:41:20.00700
	tz = 1979-05-27T07:32:00-08:00 # nice

[[  array  .  ofTables  ]]
    a = false
[[array.ofTables]]
    a = [,]# This is an empty array
[[array.ofTables]]
    a = true

# Comment above an array of tables
[[fruit]]
  name = "apple"

  [fruit.physical]
    color = "red"
    shape = "round"

  [[fruit.variety]]
    name = "red delicious"

  [[fruit.variety]]
    name = "granny smith"

[[fruit]]
  name = "banana"

  [[fruit.variety]]
    name = "plantain"

# Comment at the end of the file